<ul class="nav">
	<li class="menu-item item-left">
		<a class="item-lv-1" href="/">ChatChit</a>
	</li>
	<li class="menu-item item-left">
		<a class="item-lv-1" href="/chat-room">Chat Room</a>
	</li><!-- 
	<li class="menu-item item-left dropdown">
		<a class="item-lv-1 dropbtn">Dropdown</a>
		<div class="dropdown-content">
			<a class="item-lv-2" href="#">Link 1</a>
			<a class="item-lv-2" href="#">Link 2</a>
			<a class="item-lv-2" href="#">Link 3</a>
		</div>
	</li>
	<li class="menu-item item-left dropdown">
		<a class="item-lv-1 dropbtn">Dropdown</a>
		<div class="dropdown-content">
			<a class="item-lv-2" href="#">Link 1</a>
			<a class="item-lv-2" href="#">Link 2</a>
			<a class="item-lv-2" href="#">Link 3</a>
		</div>
	</li> -->
	<li class="menu-item item-right dropdown">
		<a class="item-lv-1 dropbtn"><i class="fa fa-caret-down"></i></a>
		<div class="dropdown-content settings">
			<a class="item-lv-2">Settings</a>
			<a class="item-lv-2" id="btnLogout">Logout</a>
		</div>
	</li>
	<li class="menu-item item-right">
		<a class="item-lv-1" >Hi <%= data.username %></a>
	</li>
</ul>