<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>List Room - ChatChit</title>
	<% include ../base-js-css %>
		<% include ../nav/js-css %>
			<link rel="stylesheet" href="/css/list-room/style.css">
</head>

<body>
	<% include ../nav/index %>
		<div class="container">
			<a href="/create-room/">
				<div id="addRoom" class="chat_room" title="Create room"></div>
			</a>
		</div>
		<% include script %>
</body>

</html>