<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<% include ../base-js-css %>
		<% include ../nav/js-css %>
		<link rel="stylesheet" href="/css/list-room/style.css">
	</head>
	<body>
	<% include ../nav/index %>
		<div class="container">
		</div>
		<script type="text/javascript">
			'use strict';
			let hostname = location.protocol + '//' + location.host;
			let socket = io(hostname + '/list-room'); // jshint ignore:line
			socket.on('new-room-created', (data) => {
				let s = '<a href="/room/' + data.id + '"><div class="chat_room"><img src="/uploads/' + data.image +'" alt=""><div class="crop"><b title="' + data.name + '">' + data.name + '</b><br>Online <span class="text-muted" id="' + data.id + '">0</span></div></div></a>';
				$('.container').append(s);
			});
		</script>
		<% if (typeof createdRoom !== 'undefined') { %>
			<%- "socket.emit('create-room', {"
			+ "id: '" + createdRoom.id + "',"
			+ "name: '" + createdRoom.name + "',"
			+ "image: '" + createdRoom.image + "'"
			+ "});" %>
		<% } %>
	</body>
</html>