<!DOCTYPE html>
<html>

<head>
  <title>COMING SOON!</title>
  <link rel="shortcut icon" href="favicon.png">
</head>
<style type="text/css">
  .coming-soon {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #5bc0de;
  }

</style>

<body>

  <div class="coming-soon">
    COMING SOON!<br /> <br />
    <a style="color: #2196F3;" href="/">Go Home</a>
  </div>

</body>

</html>
