<!DOCTYPE html>
<html>
<head>
	<!-- <meta http-equiv="refresh" content="3; URL=./comingsoon.html"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ChatChit - By DangDung</title>
	<link rel="shortcut icon" href="images/favicon.png">
</head>
<body>
<div class="container">
	<h1>
		Hi <% if (data && data.username) { %><%= data.username %><% } %>
	</h1>
	<h3>
		<a href="/chat-room">
			JOIN CHAT ROOM		
		</a>
	</h3>
</div>
</body>
</html>