html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Helvetica, Segoe UI;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:not([type="checkbox"]) {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
  display: block;
  overflow: hidden;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.has-menu-bar {
  height: calc(100vh - 48px);
  position: relative;
}

.btn {
  color: white;
  white-space: nowrap;
  user-select: none;
  background-image: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #337ab7;
  border-radius: 4px;
  overflow: hidden;
}

.large-btn {
  font-size: 14px;
  color: white;
  white-space: nowrap;
  user-select: none;
  background-image: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  display: inline-block;
  padding: 12px 18px;
  border: 1px solid #337ab7;
  border-radius: 3px;
  overflow: hidden;
}

.label {
  color: white;
  padding: 2px 3px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 4px;
}

.input-text {
  /*color: white;*/
  white-space: nowrap;
  /*user-select: none;*/
  background-image: none;
  /*cursor: pointer;*/
  /*text-align: center;*/
  vertical-align: middle;
  /*font-weight: bold;*/
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #337ab7;
  border-radius: 4px;
  overflow: hidden;
}

.large-input-text {
  font-size: 14px;
  white-space: nowrap;
  background-image: none;
  vertical-align: middle;
  display: inline-block;
  padding: 12px 18px;
  border: 1px solid #337ab7;
  border-radius: 4px;
  overflow: hidden;
}

.primary {
  background-color: #337ab7;
}

.primary:hover {
  background-color: #286090;
}

.alert-top-right {
  display: none;
  width: 350px;
  padding: 15px;
  position: absolute;
  float: right;
  vertical-align: middle;
  top: 10px;
  right: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.error-alert {
  background: rgba(255, 0, 0, 0.6);
}

.success-alert {
  background: rgba(3, 216, 11, 0.6);
}

.success {
  background-color: #4CAF50;
}


/* Green */

.success:hover {
  background-color: #46a049;
}

.info {
  background-color: #2196F3;
}


/* Blue */

.info:hover {
  background: #0b7dda;
}

.warning {
  background-color: #ff9800;
}


/* Orange */

.warning:hover {
  background: #e68a00;
}

.danger {
  background-color: #f44336;
}


/* Red */

.danger:hover {
  background: #da190b;
}

.default {
  background-color: white;
  color: #717477;
}


/* Gray */

.default:hover {
  background: #eee;
}

.online-now {
  background: #4fd26a;
}

.gray-color {
  color: gray;
}

.red-color {
  color: red;
}

.scroll-bar {
  overflow-y: overlay;
  overflow-x: hidden;
}

.scroll-bar::-webkit-scrollbar {
  display: none;
}

.scroll-bar:hover::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
  display: inherit;
}

.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

.scroll-bar:hover::-webkit-scrollbar-thumb {
  background-color: #828282;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  min-height: 100%;
  background: rgba(90, 87, 87, 0.54);
  display: none;
}

.modal-dialog {
  width: 300px;
  margin: auto;
  margin-top: 10vh; 
  background: white;
  border-radius: 10px;
}

.modal-header, .modal-body, .modal-footer {
  padding: 10px;
}

.modal-header {
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  background: #f6f7f9;
  color: #1d2129;
  font-weight: bold;
}

.modal-body {
  border-bottom: 1px solid #e5e5e5;
}

.modal-body .avatar {
  vertical-align: middle !important;
}

.modal-footer {
  text-align: center;
}
