.target {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #ff9966, #ff5e62);
}

.target .target-info {
    width: 250px;
    margin: 80px auto 0 auto;
    text-align: center;
}

.target .target-info #avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.target .target-info #name {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    margin: 15px 0;
}

.target .target-info #status,
.target .target-info #end-time {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
    color: #fff;
}

.target .target-info #end-time {
    display: none;
}

#localStream {
    position: absolute;
    width: 320px;
    height: 180px;
    bottom: 5px;
    right: 5px;
    border-radius: 10px;
    background: #ffffff url('/images/loading-32.gif') center no-repeat;
}

#remoteStream {
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
}
