.page-call {
  position: relative;
}

#localStream{
  position: absolute;
  width: 320px;
  height: 180px;
  bottom: 5px;
  right: 5px;
  border-radius: 10px;
  background: #ffffff url('/images/loading-32.gif') center no-repeat;
}
#remoteStream {
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
}
