<div class="page-list-room">
		<div class="container">
			<a href="/create-room/">
				<div id="addRoom" class="chat_room" title="Create room"></div>
			</a>
		</div>
</div>
<% include ../../base-js %>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/pages/list-room/script.js"></script>
