<div class="page-home">
    <div class="container">
        <h1 style="text-align: center; font-size: 3em; margin-top: 20%; color: #2196F3;">Go to <a style="color: blue;"
                                                                                                  class="goTo"
                                                                                                  href="/list-room/">List
                Room</a></h1><br/>
        <h1 style="text-align: center; font-size: 3em;"><a style="color: blue;" class="goTo" href="/create-room/">Create
                a new Room </a></h1>
    </div>
</div>
<% include ../../base-js %>
