<!DOCTYPE html>
<html>
<head>
	<title>ChatChit</title>
	<% include ../base-js-css %>
	<% include ../nav/js-css %>
	<% include js-css %>

</head>
<body>
	<% include ../nav/nav %>	
	<div class="container">
		<h1 style="text-align: center; font-size: 3em; margin-top: 20%; color: #2196F3;">Go to <a class="goTo" href="/chat-room">Chat Room</a></h1>	
	</div>	
</body>
</html>
