.container {
	margin-top: 50px;
}

.text-muted{color: #777;}
.chat_room{
	font-family: "Roboto", sans-serif;
	margin: 5px;
	margin-bottom: 20px;
	padding: 3px;
	line-height: 30px;
	float: left;
	color: black;
	text-decoration: none;
	font-size: 14px;
	width: 187px;
	border: 1px solid #2196F3;
	height: 175px;
}
.chat_room img{
	height: 105px;
	width: 187px;
}
.chat_room img:hover {opacity: 0.7;}
.crop {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
#addRoom {
	background: url('../../images/addRoom.png') center center no-repeat;
	background-color: #efeaea;
}

#addRoom:hover {
	background-color: #e5e0e0;
	background-image: url('../../images/addRoomHover.png');
}