@media all and (max-width: 399px), all and (max-height: 219px) {
	body {
		background-image: url('../images/notSupportThisDevice.png');
		background-repeat: repeat;
	}
	.container {
		display: none;
	}

	.not-support-device {
		text-align: center;	 	
		margin-top: 30vh;
		display: block;
	}
}

@media all and (max-width: 767px) {
	.container {
		width: 100%;
		margin: auto;
		height: 100vh;
		/*background-color: pink;*/
	}

	/*css for middle*/
	.left {
		position: absolute;
		display: none;
		background-color: #ffffff;
		width: 209px;
		max-height: calc(100% - 90px);
		border-right: 1px solid #337ab7;
		border-bottom: 1px solid #337ab7;
		border-bottom-right-radius: 4px;
		flex: 1 1 auto;
	}

	.right {
		padding: 5px 10px;
		/*overflow-y: hidden;*/
		overflow-y: scroll;
		background-color: white;
	}
	/*end css for middle*/

	.bottom {
		border-top: 1px solid #337ab7;
	}

	.control {
		width: 100%;
		height: 100%;
	/*	position: absolute;*/
		margin: auto; 
	/*	top: 0;
		left: 0;
		bottom: 0;
		right: 0;*/
		/*text-align: center;*/
		
	}

	.input-message {
		position: relative;
		padding: 0px 0px 0px 8px;
		border: 0px solid transparent;
		line-height: 1.4em;
		font-size: 18px;
		margin: auto;
		width: 73%;
		height: 100%;
	}

	.input-message:focus {
		outline-width: 0;
	}

	.btn-send {
		font-size: 20px;
		color: #337ab7;
		float: right;
		padding: 14px 5%;
		border-radius: 0px;
		border-top:  0px solid transparent;
		border-right: 0px solid transparent;
		border-bottom: 1px solid transparent;
		border-left:  1px solid #337ab7;

	}

	.btn-send:hover {
		color: #337ab7;
		background: #e2e0e0;
	}

	.btn-turn-on-webcam {
		display: none;
	}
}