@media all and (min-width: 768px) {
	.container {
		width: 80%;
		margin: auto;
		height: 100vh;
		/*background-color: #ccc;*/
		/*padding-right: 1px;*/
		border-left: 1px solid #337ab7;
		border-right: 1px solid #337ab7;
	}

	.left {
		position: absolute;
		height: calc(100% - 87px);;
		top:37px;
		bottom: 0;
		background-color: #ffffff;
		width: 209px;
		border-right: 1px solid #337ab7;
		border-bottom: 0px solid #337ab7;
		float: left;
	}

	.right {
		margin-left: 210px;
		/*left: 210px;*/
		/*float: left;*/
		overflow-y: scroll;
		padding: 5px 5px 5px 10px;
		background-color: white;
	}
	.control {
		width: 100%;
		height: 100%;
	/*	position: absolute;*/
		margin: auto; 
	/*	top: 0;
		left: 0;
		bottom: 0;
		right: 0;*/
		/*text-align: center;*/
		/*border-top: 1px solid #337ab7;*/
	}

	.input-message {
		position: absolute;
		left: 209px;
		padding: 0px 0px 0px 8px;
		border: 0px solid #337ab7;
		border-left: 1px solid #337ab7;
		line-height: 1.5em;
		font-size: 18px;
		margin: auto;
		width: 48%;
		height: 100%;
		overflow: auto;
	}

	.input-message:focus {
		outline-width: 0;
	}

	.btn-send {
		font-size: 18px;
		color: #337ab7;
		float: right;
		padding: 15px 4%;
		border-radius: 0px;
		border-top:  1px solid transparent;
		border-right: 0px solid transparent;
		border-bottom: 1px solid transparent;
		border-left:  1px solid #337ab7;

	}

	.btn-send:hover {
		color: #337ab7;
		background: #e2e0e0;
	}

	.btn-turn-on-webcam {
		font-size: 18px;
		color: #337ab7;
		float: left;
		padding: 16px 38px;
		border-radius: 0px;
		border: 0px solid transparent;
/*		border-top:  1px solid red;
		border-right: 0px solid red;
		
		border-left:  0px solid #337ab7;*/

	}

	.btn-turn-on-webcam:hover {
		color: #337ab7;
		background: #e2e0e0;
	}
}